body{
	background-color:#5B5B5B;
}

body{
font-family: 'Annie Use Your Telescope', cursive;
font-size:50px;
}

#vid{
	float: left;
}

#header{
	background-color: #5B5B5B;
	text-align: center;
	color: #009F8F;

}

ul 
{ 
list-style-type:none; 
margin:0; 
padding:0; 
} 
li 
{ 
display:inline; 
} 
a:link,a:visited 
{ 
color:#FFFFFF; 
background-color:#00E5CE; 
text-align:center; 
padding:6px; 
text-decoration:none; 
color:black;
} 
a:hover,a:active 
{ 
background-color:#009F8F; 
}

#center{
	margin-left:705px;
}